#logowanie {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: 400px;
    margin: 20px auto;
    border-radius: 3px;
    background-color:  #323232;
    border-style:dashed;
    padding: 50px;
    
}
body {
    background-color:  #3d3d3d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}